/* Подключение шрифта для хорошего отображения немецкого текста */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  min-width: 375px;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  letter-spacing: 0.8px;
  font-family: 'Roboto', sans-serif;
}
.custom-section-left-fade-in {
  transform: translate(-100%, 0px);
  opacity: 0;
}
.custom-section-right-fade-in {
  transform: translate(100%, 0px);
  opacity: 0;
}
._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 1s ease 0s;
}
