/* Прелоадер: фиксированный фон */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #121212; /* Тёмный фон */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

/* Прелоадер исчезает */
.preloader-hidden {
  opacity: 0;
  visibility: hidden;
}

/* Логотип */
.preloader-logo {
  width: 150px;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

/* Индикатор загрузки */
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ffffff;
  border-top: 5px solid #1fcfca;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Анимация загрузки */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Анимация появления логотипа */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
